.bigbigbox{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9;
	background: url(img/bigg.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
}
.bigbox {
	
	width: 1920px;
	height: 100vh;
	background: url(img/1.jpg) no-repeat;
	background-size: cover;
	background-position: top center;
	margin: 0 auto;
}

ul,
ol,
li,
p,h3,a,h5{
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
}

.top {
	background: black;
	position: relative;
	z-index: 50;
}

.caidan li a,
.caidan1 li a {
	color: darkgrey;
	text-decoration: none;
}

header {
	width: 1300px;
	height: 40px;
	margin: 0 auto;
}

.caidan {
	width: 420px;
	height: 40px;
	float: left;
}

.caidan1 {
	width: 200px;
	height: 40px;
	float: right;
}

.caidan li {
	float: left;
	line-height: 40px;
	padding-right: 20px;
}

.caidan1 li {
	float: left;
	line-height: 40px;
	padding-right: 30px;
}

.top header .caidan li:first-of-type a {
	width: 62px;
	height: 40px;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: -18px -75px;
	display: block;
}

.top header .caidan li:first-of-type a:hover {
	background-position: -18px -119px;
}

.caidan a:hover,
.caidan1 a:hover {
	color: white;
}

.top header .caidan li:nth-of-type(2)>a:after {
	content: '';
	width: 14px;
	height: 7px;
	background: url(img/logo.png) no-repeat;
	background-position: -147px -131px;
	display: inline-block;
}

.top header .caidan li:hover>a:after {
	background-position: -147px -145px;
}

.top header .caidan li:nth-of-type(5)>a:after {
	content: '';
	width: 14px;
	height: 7px;
	background: url(img/logo.png) no-repeat;
	background-position: -147px -131px;
	display: inline-block;
}

.top header .caidan li:hover>a:after {
	background-position: -147px -145px;
}

.top header .caidan1 li:nth-of-type(2)>a:after {
	content: '';
	width: 14px;
	height: 7px;
	background: url(img/logo.png) no-repeat;
	background-position: -147px -131px;
	display: inline-block;
}

.top header .caidan1 li:hover>a:after {
	background-position: -147px -145px;
}

.subnav {
	height: 280px;
	position: absolute;
	width: 100%;
	top: 40px;
	left: 0;
	background: rgba(21, 26, 35, .95);
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	border: 1px solid gray;
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s;
	
}

.subnav a {
	position: relative;
	top: -50px;
	width: 180px;
	height: 180px;
	background: url(img/a1.jpg);
	display: inline-block;
	background-size: cover;
	background-position: center;
	margin-right: 15px;
	opacity: 0;
	visibility: hidden;
	/*transition-property: opacity, top;*/
	transition-duration: .3s;
}

.subnav a:nth-of-type(1) {
	background: url(img/a1.jpg);
	background-size: cover;
	background-position: center;
}

.subnav a:nth-of-type(2) {
	background: url(img/a2.jpg);
	background-size: cover;
	background-position: center;
}

.subnav a:nth-of-type(3) {
	background: url(img/a3.jpg);
	background-size: cover;
	background-position: center;
}

.subnav a:nth-of-type(4) {
	background: url(img/a4.jpg);
	background-size: cover;
	background-position: center;
}

.subnav a:nth-of-type(5) {
	background: url(img/a5.jpg);
	background-size: cover;
	background-position: center;
}

.subnav a:nth-of-type(6) {
	background: url(img/a6.jpg);
	background-size: cover;
	background-position: center;
}

header .caidan li:hover .subnav {
	opacity: 1;
	visibility: visible;
}

header .caidan li:hover .subnav >a {
	opacity: 1;
	visibility: visible;
	top: 30px;
}

.top header li:hover .subnav a:nth-of-type(1) {
	transition-delay: 100ms;
}

.top header li:hover .subnav a:nth-of-type(2) {
	transition-delay: 200ms;
}

.top header li:hover .subnav a:nth-of-type(3) {
	transition-delay: 300ms;
}

.top header li:hover .subnav a:nth-of-type(4) {
	transition-delay: 400ms;
}

.top header li:hover .subnav a:nth-of-type(5) {
	transition-delay: 500ms;
}

.top header li:hover .subnav a:nth-of-type(6) {
	transition-delay:600ms;
}

.dianzi {
	position: absolute;
	width: 100%;
	top: 40px;
	left: 0;
	background: rgba(21, 26, 35, .95);
	text-align: center;
	padding-top: 30px;
	border: 1px solid gray;
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s;
}

.dianzi .bb,
.bbb {
	vertical-align: middle;
	width: 192px;
	height: 236px;
	display: inline-block;
	margin-right: 15px;
}

header .caidan li:hover .dianzi {
	opacity: 1;
	visibility: visible;
}

.dianzi a p {
	line-height: 0px;
	text-align: center;
}

.dianzi .bbb {
	width: 0px;
	background: lightblue;
	transition: all 0.3s;
	overflow: hidden;
}

.dianzi .bbb img {
	background: rgba(21, 26, 35, .95);
	width: 100px;
	height: 100px;
	display: block;
}

.dianzi a:hover {
	background: #2E1B1E;
}

.dianzi a:first-of-type:hover+.bbb {
	width: 100px;
}

.dianzi >a {
	display: inline-block;
	vertical-align: middle;
	height: 300px;
	position: relative;
	top: -50px;
}

.dianzi .xia {
	border-top: 1px solid white;
	color: white;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

header .caidan li:hover .dianzi>a {
	top: 0px;
	transition: all 0.3s;
}

header .caidan li:hover .dianzi>a:nth-of-type(1) {
	transition-delay: 100ms;
}

header .caidan li:hover .dianzi>a:nth-of-type(2) {
	transition-delay: 200ms;
}

header .caidan li:hover .dianzi>a:nth-of-type(3) {
	transition-delay: 300ms;
}

header .caidan li:hover .dianzi>a:nth-of-type(4) {
	transition-delay: 400ms;
}

header .caidan li:hover .dianzi>a:nth-of-type(5) {
	transition-delay: 450ms;
}
.dianzi .xia p {
	position: relative;
	top: -50px;
	opacity: 0;
	transition: top 3s;
}
header .caidan li:hover .dianzi .xia p{
	top: 0;
	opacity: 1;
	/*transition: top 1s, opacity .5s .1s;*/

}




.tp {
	width: 350px;
	height: 184px;
	float: left;
}

.shen .sou input {
	height: 41px;
	width: 301px;
	background: transparent;
	border: 1px solid #8bb6ad;
	outline: none;
	color: white;
	background: rgba(58, 58, 58, .3);
}

.shen .sou input[type="submit"] {
	background: url(img/search.png)no-repeat;
	width: 25px;
	height: 25px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 9px;
	right: 8px;
	background-position: center;
}

.shen {
	height: 285px;
	position: relative;
	width: 1024px;
	left: 50%;
	margin-left: -512px;
	z-index: 40;
}

.sou {
	position: absolute;
	right: 10px;
	top: 147px;
	height: 42px;
	width: 302px;
}

.shou {
	float: left;
	width: 1024px;
	height: 52px;
	/*position: absolute;*/
	margin: 0 auto;
	position: sticky;
	top: 0;
	
}
div.shou{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.shou ul li {
	float: left;
	list-style: none;
}

.shou ul {
	width: 1024px;
	height: 52px;
}

.shou ul .nav9,
.nav2,
.nav3,
.nav4,
.nav5,
.nav6,
.nav7,
.nav8 {
	width: 114px;
	height: 52px;
	list-style: none;
}

.shou .nav1 {
	background: url(img/5.jpg);
	width: 56px;
	height: 52px;
}

.shou .nav10 {
	background: url(img/5.jpg);
	width: 56px;
	height: 52px;
	background-position: -977px -52px;
	background-repeat: no-repeat;
}

.shou ul .nav2 {
	float: left;
	width: 114px;
	height: 52px;
	position: relative;
	/*overflow: hidden;*/
}

.shou ul li .a11 {
	height: 100%;
	display: block;
	background-image: url(img/5.jpg);
	background-position: -58px -52px;
	background-repeat: no-repeat;
}

.shou .nav3 {
	float: left;
	width: 114px;
	height: 52px;
	position: relative;
	
}

.shou ul li .a12 {
	height: 100%;
	display: block;
	background-image: url(img/5.jpg);
	background-position: -171px 0px;
	background-repeat: no-repeat;
}

.shou ul li .a12:hover {
	background-image: url(img/5.jpg);
	background-position: -171px -52px;
	background-repeat: no-repeat;
}

.shou .nav4 {
	float: left;
	width: 114px;
	height: 52px;
	position: relative;
	/*overflow: hidden;*/
}

.shou ul li .a13 {
	height: 100%;
	display: block;
	background-image: url(img/5.jpg);
	background-position: -285px 0px;
	background-repeat: no-repeat;
}

.shou ul li .a13:hover {
	background-image: url(img/5.jpg);
	background-position: -285px -52px;
	background-repeat: no-repeat;
}

.shou .nav5 {
	float: left;
	width: 114px;
	height: 52px;
	position: relative;
	/*overflow: hidden;*/
}

.shou ul li .a14 {
	height: 100%;
	display: block;
	background-image: url(img/5.jpg);
	background-position: -399px 0px;
	background-repeat: no-repeat;
}

.shou ul li .a14:hover {
	background-image: url(img/5.jpg);
	background-position: -399px -52px;
	background-repeat: no-repeat;
}

.shou .nav6 {
	float: left;
	width: 114px;
	height: 52px;
	position: relative;
	/*overflow: hidden;*/
}

.shou ul li .a15 {
	height: 100%;
	display: block;
	background-image: url(img/5.jpg);
	background-position: -513px 0px;
	background-repeat: no-repeat;
}

.shou ul li .a15:hover {
	background-image: url(img/5.jpg);
	background-position: -513px -52px;
	background-repeat: no-repeat;
}

.shou .nav7 {
	float: left;
	width: 114px;
	height: 52px;
	position: relative;
	/*overflow: hidden;*/
}

.shou ul li .a16 {
	height: 100%;
	display: block;
	background-image: url(img/5.jpg);
	background-position: -627px 0px;
	background-repeat: no-repeat;
}

.shou ul li .a16:hover {
	background-image: url(img/5.jpg);
	background-position: -627px -52px;
	background-repeat: no-repeat;
}

.shou .nav8 {
	float: left;
	width: 114px;
	height: 52px;
	position: relative;
	/*overflow: hidden;*/
}

.shou ul li .a17 {
	height: 100%;
	display: block;
	background-image: url(img/5.jpg);
	background-position: -741px 0px;
	background-repeat: no-repeat;
}

.shou ul li .a17:hover {
	background-image: url(img/5.jpg);
	background-position: -741px -52px;
	background-repeat: no-repeat;
}

.shou .nav9 {
	float: left;
	width: 114px;
	height: 52px;
	position: relative;
	/*overflow: hidden;*/
}

.shou ul li .a18 {
	height: 100%;
	display: block;
	background-image: url(img/5.jpg);
	background-position: -855px 0px;
	background-repeat: no-repeat;
}

.shou ul li .a18:hover {
	background-image: url(img/5.jpg);
	background-position: -855px -52px;
	background-repeat: no-repeat;
}
.shou ul li{
	position: relative;
}
.aa1{
	position: absolute;
	top: 47px;
	left: 0px;
	background:rgba(77,9,8,.95) ;
	z-index: 50;
	display: none;
}
.aa1 a{
	display: block;
	width: 114px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	line-height: 30px;	
}
.shou .nav3:hover .aa1{
	display:block ;
}
.shou  .aa1 a:hover{
	color: white;
	background: #81120c;
}
.shou .nav3:hover a{
	background-position: -171px -52px;
}
.aa2{
	position: absolute;
	top: 47px;
	left: 0px;
	background: rgba(77,9,8,.95);
	z-index: 50;
	display: none;
}
.aa2 a{
	display: block;
	width: 114px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	line-height: 30px;
}
.shen .aa2 a:hover{
	color: white;
	background:#81120C ;
}
.shou .nav4:hover .aa2{
	display: block;
}
.shou .nav4:hover a{
	background-position: -285px -52px;
}
.aa3{
	position: absolute;
	top: 47;
	left: 0;
	background: rgba(77,9,8,.95);
	z-index: 50;
	display: none;
}
.aa3 a{
	display: block;
	width: 114px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
}
.shou .nav5:hover .aa3{
	display: block;	
}
.shou .nav5:hover a{
	background-position: -399px -52px;
}
.shou .aa3 a:hover {
	color: white;
	background:#81120C ;
}
.aa4{
	position: absolute;
	top: 47px;
	left: 0;
	background: rgba(77,9,8,.95);
	z-index: 50;
	display: none;
}
.aa4 a{
	display: block;
	width: 114px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
}
.shou .nav8:hover .aa4{
	display: block;
}
.shou .nav8 .aa4 a:hover{
	color: white;
	background:#81120C ;
}
.shou .nav8:hover a{
	background-position: -741px -52px;
}




.up {
	width: 1024px;
	position: relative;
	left: 50%;
	margin-left: -512px;
	min-height: 1000px;
	z-index: 2;
	padding-bottom: 100px;
}

.left {
	padding-top: 20px;
	width: 703px;
	background: url(img/6.png) repeat-y;
	position: relative;
	z-index: 1;
}

.dt1 {
	width: 640px;
	margin: 0px auto;
	border: 1px solid #b7894c;
	padding: 1px;
	display: block;
	position: relative;
}
.dt1 img{
	vertical-align: middle;
	/*padding-top:20px;*/
}
.tet{
	background: rgba(0,0,0,.5);
	width: 640px;
	height: 43px;
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: 1px solid #8a673b;
	padding: 1px;
	background-clip: padding-box;
	box-sizing: border-box;
}
.tet p{
	font-size: 18px;
	font-weight: bold;
	margin-left: 10px;
	color: white;
	line-height: 42px;
}
.tet img{
	margin-top: -38px;
	margin-right: 10px;
	float: right;
	width: 68px;
	height: 33px;
	border: 1px solid #ffeb00;
}




.uu1 {
	width: 663px;
	height: 223px;
	padding: 39px 0 0 0;
	/*margin: 0 auto;*/
	margin: 0px 27px;
	background: url(img/13.jpg);
	background-repeat: no-repeat;
}
.uul img{
	background-position: center;
}
.uu1 li {
	margin: 0 auto;
	display: inline-block;
	width: 288px;
	height: 191px;
	padding: 10px;
	background: url(img/10.png) no-repeat;
	list-style: none;
	/*margin-right: 16px;*/
}
.uu1 li:first-of-type{
	margin-left: 8px;
	margin-right: 12px;
}
.uu1 li img {
	width: 280px;
	height: 140px;
	margin: 0;
	padding: 0;
}

.uu1 li a {
	position: relative;
	display: block;
	width: 280px;
	height: 140px;
	margin: 1px 0 0 1px;
}

.uu1 li p {
	color: #2e1b1e;
	width: 288px;
	height: 44px;
	line-height: 44px;
	margin-top: 8px;
	overflow: hidden;
	font-weight: 700;
	text-align: center;
}



.new {
	margin: 0 auto;
	width: 630px;
	height: 100px;
	padding-top: 42px;
	padding-bottom: 30px;
	border-top: 1px solid #efdba8;
	border-bottom:1px solid #dbc497 ;
}
.new1{
	display:inline-block;
	width: 620px;
	height: 100px;
	
}
.new1 a{
	/*display:block;*/
	width: 620px;
	height: 100px;
}
.new1 img{
	float: left;
	padding: 1px;
	border: 1px solid goldenrod;
}
.new1  p{
	margin-left: 16px;
	width: 400px;
	float: left;
	color: #695745;
	font-size: 13px;
	letter-spacing: 1px;
	padding-bottom: 20px;
}
.new1  h3{
	font-size: 16px;
	margin-left: 16px;
	float: left;
	color: #150603;
	padding-bottom: 10px;
	font-weight: 700;
	width: 400px;
	
}
.new1 .s .s1 {
	margin-left: 16px;
	float: left;
	width:55px;
	height: 16px;
	color: orange;
	margin-right: 30px;
	
}
.tp2{
	position: relative;
	top:4px;
}
.s{
	float: left;
}
.s .s1 .tp2{
	background: url(img/icon.png) no-repeat;
	width: 18px;
	height: 19px;
	background-position: -80px -112px;
	display: inline-block;
}
 time{
	color: #666;
	font-size: 13px;
}
 .new .new1 img:hover{
	border: 1px solid green;
}
.new:hover{
	background: url(img/homenewsbg.png) repeat-y;
	background-size: 100% auto;
}



.xinwen {
	/*display: block;*/
	width: 638px;
	height: 50px;
	margin: 0 auto;
}
.xinwen1{
	/*padding-bottom: 10px;*/
	/*padding-top: 10px;*/
	height: 40px;
	display: block;
	color: #5b4b38;	
}
.xinwen1 p{
	background: #DBC497;
	line-height: 40px;
	height: 40px;
	text-align: center;
}
.xinwen1 p:hover{
	background: darkgoldenrod;
}
.wb{
	height: 34px;
	width: 703px;
	background: url(homeconmain-bg-bot.png);
	position: absolute;
	bottom: -20px;
	left: 0;
	
}
.right{
	background: url(img/homeconbar-bg.png) repeat-y;
	position: absolute;
	width: 340px;
top: 0;
	right: 5px;
}
.right1{
		background: url(img/home-bg-cr.jpg) no-repeat;
		min-height: 585px;	
}

.right .right1  ul{
	width: 240px;
	margin: 0 auto;
	height: 90px;
	margin-top: 32px;
	margin-right: 47px;
}
.right .right1 ul li{
	float: left;
	
}
.right .right1  ul li a{
	display: block;
background: url(img/device-icon.png) no-repeat;
width: 80px;
height: 90px;
}
.right .right1 ul li:nth-of-type(1) a{
	background-position: 0px -180px;
	
}
.right .right1 ul li:nth-of-type(2) a{
	background-position: -80px 0px;
}
.right .right1 ul li:nth-of-type(3) a{
	background-position: -160px 0px;
}
.right .right1 ul li:nth-of-type(1):hover a{
	background-position: 0px -88px;
}
.right .right1 ul li:nth-of-type(2):hover a{
	background-position: -80px -89px;
}
.right .right1 ul li:nth-of-type(3):hover a{
	background-position: -160px -89px;
}
.right1 .sp{
	width: 340px;
	height: 84px;
	position: relative;
}
.right1 .sp .a1{
	position: absolute;
	top: 20px;
	left: 60px;
	/*display: block;*/
	width: 220px;	
}
.right1 .sp .a2{
	display: none;
	height: 64px;
	position: absolute;
	top: 20px;
	left: 60px;
	/*display: block;*/
	width: 220px;
	background: url(img/btn2.png) no-repeat;
	z-index: 9;
	background-position: -36px -140px;	
}
.right1 .sp .a3{
	display: none;
	height: 64px;
	position: absolute;
	top: 20px;
	left: 60px;
	/*display: block;*/
	width: 220px;
	background: url(img/btn2.png) no-repeat;
	z-index: 99;
	background-position: -36px -253px;	
}
.top1{
	width: 320px;
	background: url(img/top-bg.jpg) no-repeat 100% 0;
	height: 260px;
}
.top2{
	
	width: 265px;
	margin-left: 38px;
	/*padding-left: 10px;*/
	padding-top: 20px;
	
}
.top2 h3{
	width: 265px;
	height: 30px;
	font-size: 16px;
	color: #03345f;
	padding-bottom: 15px;
	padding-top: 15px;
	
}
.top2 h3 span{
	margin-right: 2px;
	vertical-align: middle;
	display: inline-block;
	background: url(img/icon.png) no-repeat;
	width: 30px;
	height: 30px;
	background-position: -87px -4px;
}

.right2 .top1 .top2 a{
	display: inline-block;
	position: relative;
}
.right2 .top1 .top2 .ca {
	margin:  0 15px;
	display:inline-block;
}
.right .top1 .top2 a p{
	width: 244px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	color: #251c0f;
}
.right2 .top1 .top2 a img:nth-of-type(2){
	position: absolute;
	left: 0;
	top: 0;
}
.right2 .top1 .top2 a img{
	transition: all 0.3s;
}
.right2 .top1 .top2 a img:nth-of-type(2):hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.1);
}
.right2 .top1 .top2 a:hover .img1:nth-of-type(1){
	filter: brightness(70%);
	-webkit-filter: brightness(70%);
}
 .right .right1 .right2 .top1 .top2 .ca1{
	margin: 0 auto;
	width: 265px;
}
.right2 .top1 .top2 li{
	margin-bottom: 8px;
}
.right2 .top1 .top2 .li1 a{
	color: #5b4b38;
	font-size: 12px;
	line-height: 24px;
	width: 265px;
	height: 30px;
	border-bottom: 1px solid #e8d6a8;
}
.right2 .top1 .top2 a:hover{
	color: #db6800;
	
}
.top1 .top2  .li1 a:hover span:first-of-type{
	background-position: -135px -113px;
}
 .top1 .top2  .li1 a span:first-of-type{
	background: url(img/icon.png) no-repeat;
	width: 10px;
	height: 7px;
	display: inline-block;
	background-position: -135px -143px;
}
.right2 .top1 .top2 li:last-of-type{
	float: right;
	padding-bottom: 20px;
	
}
.right2 .top1 .top2  li:last-of-type a{
	width: 33px;
	height: 30px;
	display: inline-block;
	background: url(img/icon-more.png) no-repeat;
	background-position: top;
	/*float: right;*/
} 
.top2 h3 .span1{
	margin-right: 2px;
	vertical-align: middle;
	display: inline-block;
	background: url(img/icon.png) no-repeat;
	width: 30px;
	height: 30px;
	background-position: -46px -74px;
}
.top2 h3 .span2{
	margin-right: 2px;
	vertical-align: middle;
	display: inline-block;
	background: url(img/icon.png) no-repeat;
	width: 30px;
	height: 30px;
	background-position: -87px -39px;
}
.right3{
	margin-top: 70px;
	margin-left: 30px;
}
.right3 .bot1{
	border-radius: 3px;
	border: 1px solid #efd4ad;
	margin: 10px;
	line-height: 20px;
	width: 260px;
	height: 54px;
	background: #d1b181;
	display: block;
}
.bot1,.bot2{	
	position: relative;
}
.bot1  h5{
	line-height:60px;
	color: black;
	font-size: 15px;
	width: 260px;
	height: 54px;
	margin-left:20px ;	
}
.bot1  a{
	display: inline-block;
    width:260px ;
	height:68px;
	position: absolute;
	right:0px;
	top: -10px;
}
.bot1 a .lm{
	display: inline-block;
	float: right;
	background: url(img/commnity-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -279px;
	width:80px ;
	height:73px;
}
.bot1  a:hover .lm{
	background-position-y:-377px;
}
 .bot2{
	border-radius: 3px;
	border: 1px solid #efd4ad;
	margin: 10px;
	line-height: 20px;
	width: 262px;
	height: 72px;
	background: #d1b181;
	display: block;
}
.bot2  h5{
	padding-top: 20px;
	padding-left: 20px;
	color: black;
	font-size: 15px;
	width: 262px;	
}
.bot2 p{
	padding-left: 20px;
	color: #66563d;
	font-size: 14px;
	font-weight: 700;
}
.bot2  a{
	display: inline-block;
    width:260px ;
	height:83px;
	position: absolute;
	right:0px;
	top: -10px;
}
.bot2 a .lm1{
	display: inline-block;
	float: right;
	background: url(img/commnity-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -775px;
	width:80px ;
	height:83px;
}
.bot2 a:hover .lm1{
	background-position-y:-893px ;
}
.bot2 a .lm2{
	display: inline-block;
	float: right;
	background: url(img/commnity-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -1020px;
	width:80px ;
	height:83px;
}
.bot2 a:hover .lm2{
	background-position-y:-1026px ;
}
.bot1 a .lm3{
	display: inline-block;
	float: right;
	background: url(img/commnity-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -1133px;
	width:80px ;
	height:83px;
}
.bot1 a:hover .lm3{
	background-position-y:-1249px ;
}
.bot2 a .lm4{
	display: inline-block;
	float: right;
	background: url(img/commnity-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -1640px;
	width:80px ;
	height:83px;
}
.bot2 a:hover .lm4{
	background-position-y:-1732px ;
}
.bot2 a .lm5{
	display: inline-block;
	float: right;
	background: url(img/commnity-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -2040px;
	width:80px ;
	height:83px;
}
.bot2 a:hover .lm5{
	background-position-y:-2044px ;
}
.bot2 a .lm6{
	display: inline-block;
	float: right;
	background: url(img/commnity-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -513px;
	width:80px ;
	height:83px;
}
.bot2 a:hover .lm6{
	background-position-y:-613px ;
}
.bot2 a .lm7{
	display: inline-block;
	float: right;
	background: url(img/commnity-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -1351px;
	width:80px ;
	height:83px;
}
.bot2 a:hover .lm7{
	background-position-y:-1440px ;
}
.top1{
	width: 320px;
	background: url(img/top-bg.jpg) no-repeat 100% 0;
	height: 260px;
}






.top11{
	margin: 0 -20px;
	background: url(img/top-bg.jpg);
	background-repeat: no-repeat;
	width: 310px;	
}
.top12{
	margin-left: 38px;
	padding-top: 20px;
	padding-bottom: 35px;	
}
.top12 h3{
	width: 265px;
	height: 30px;
	font-size: 16px;
	color: #03345f;
	padding-bottom: 15px;
	padding-top: 15px;	
}
.top12 h3 span{
	margin-right: 2px;
	vertical-align: middle;
	display: inline-block;
	background: url(img/icon.png) no-repeat;
	width: 30px;
	height: 30px;
	background-position: -4px -189px;
}
.top12 ul li:first-of-type{
	position: relative;
	width: 118px;
	height: 42px;
	display: inline-block;
	float: left;
}
.top12 ul li:first-of-type >span{
	background: url(img/Fshare.png);
	display: inline-block;
	width: 32px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: -378px 0;
	float: left;
	margin-right: 5px;
}
.wx{
	color: #3d8403;
	font-size: 14px ;
	float: left;
	position: relative;
}
.wx1{
	color: #f2743e;
	font-size: 14px ;
	float: left;
	position: relative;
}
.wx i{
	color: black;
	margin-right: 8px;
}
.wx1 i{
	color: black;
	margin-right: 8px;
}
.wx:hover i{
	color:#3d8403 ;
}
.wx1:hover i{
	color:#f2743e ;
}
.yc span{
	position: absolute;
	top: -95px;
	left: -35px;
	display: none;
}
.yc span img{
	width: 92px;
	height: 92px;
}
.wx:hover .yc span{
	display: block;
}
.yc1 span{
	position: absolute;
	top: -110px;
	left: -35px;
	display: none;
}
.yc1 span img{
	width: 92px;
	height: 92px;
}
.wx1:hover .yc1 span{
	display: block;
}
.bj {
	position: absolute;
	top: 0;
	right: 0;
}
.top12 ul li:nth-of-type(1){
	padding-right: 10px;
}
.wb1{
	font-size: 14px;
	color:#f2743e;
	display: block;
	margin-top: 10px;
}
.top12 ul li:nth-of-type(2){
	display: inline-block;
	width: 118px;
	height: 42px;
	margin-left: 8px;
	position: relative;	
}
.top12 ul li:nth-of-type(2) span{
	background: url(img/Fshare.png);
	display: inline-block;
	width: 32px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: -210px 2px;
	float: left;
	margin-right: 5px;
}
.top12 ul li:nth-of-type(2):hover span{
	background-position: -210px -58px;
	transition: all 0.3s;
}



.top12 ul li:nth-of-type(3) span{
	background: url(img/Fshare.png);
	display: inline-block;
	width: 32px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: -463px 0px;
	float: left;
	margin-right: 5px;
}
.top12 ul li:nth-of-type(3):hover span{
	background-position: -463px -62px;
	transition: all 0.3s;
}
.gw img{
	width: 92px;
	height: 92px;	
}
.yc2{
	position: absolute;
	top: -95px;
	left: 0;
	width: 92px;
	height: 92px;
	display: inline-block;
	display:none;
}

.gw{
	position: relative;
	font-size: 14px;
	color:black;
	display: block;
	margin: 30px 0;
	padding-top: 10px;
}
.top12 ul li:nth-of-type(3):hover .yc2{
	display: block;
}


.top12 ul li:nth-of-type(4){
	color: #251c0f;
	/*font-weight: 700;*/
	width: 130px;
	font-size: 14px;
	line-height: 24px;
	position: relative;	
	margin-top: 20px;
	display: inline-block;
}
.bj1{
	position: absolute;
	top: 5px;
	right: 0;
}
.yx{
	color: black;
	font-size: 12px;
}
.top12 ul li:nth-of-type(5){
	color: #251c0f;
	width: 130px;
	font-size: 14px;
	line-height: 24px;
    display: inline-block;
    margin-left: 7px;
}
.yx1{
	color: black;
	font-size: 12px;
}

.wba{
	width: 340px;
	height: 35px;
	background: url(img/wba.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: -35px;
	left: 0px;
}
.right2{
	position: relative;
}
.xf a{
	display: block;
	background: rgba(96,52,18,.6);
	border: 1px solid rgba(96,52,18,.6);
	border-radius: 50%;
	margin-bottom: 10px;
}
.xf{
	position: fixed;
	bottom: 0;
	right: 20px;
}
.zuih{
	position: relative;
	width: 100%;
	height: 471px;
	background: url(img/footer.jpg);
	
}
.zuih1{
	width: 100%;
	height: 471px;
}
.z1{
	width: 349px;
    height: 87px;
    position: absolute;
    z-index: 101;
    left: 50%;
    top: -30px;
    margin-left: -175px;
    background:url(img/bg.png); 
	
}
.cl{
	background: url(img/btn.png);
	bottom: 0px;
    display: block;
    height: 78px;
    left: 50%;
    margin-left: -123px;
    position: absolute;
    text-indent: -9999px;
    width: 249px;
}
.z2{
		height: 31px;
	width: 1000px;
    position: relative;
    left: 50%;
    margin-left: -500px;
    color: #fff;
    z-index: 100;
    padding-top: 79px;
    font-size: 14px;
}
.z2 p a{
	margin-right: 30px;
}
.z2 p{
	float: left;
	font-size: 14px;
}
.z2 p a:nth-of-type(1) span{
	background: url(img/business.png);
	background-repeat: no-repeat;
	background-position: -6px -7px;
    width: 19px;
    height: 19px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.z2 p a:nth-of-type(2) span{
	background: url(img/business.png);
	background-repeat: no-repeat;
	background-position: -36px -8px;
    width: 19px;
    height: 19px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.z2 p a:nth-of-type(3) span{
	background: url(img/business.png);
	background-repeat: no-repeat;
	background-position: -8px -32px;
    width: 19px;
    height: 19px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 10px;
}
.span3 a{
	vertical-align: middle;
	background: url(img/logo10.png);
	background-repeat: no-repeat;
	background-position: -352px 0;
    width: 115px;
    height: 30px;
    display: inline-block;
}
.span3{
	position: relative;
	float: right;	
    vertical-align: top;
    display: inline-block;
    color: #fff;
    font-size: 16px;
}
.z3{

	text-align: left;
    width: 1000px;
    margin: 0 auto 8px;
    padding-top: 40px;
    position: relative;
    display: block;
}
.z3 >a:first-of-type{
	display: inline-block;
    width: 140px;
    height: 80px;
    overflow: hidden;
    vertical-align: top;
    margin: 0;
    position: relative;
}
.z3 >a:nth-of-type(2){
	    display: inline-block;
    background: url(img/Flogo_ne.png) no-repeat 0 0;
    width: 125px;
    height: 38px;
    overflow: hidden;
    vertical-align: top;
    position: relative;
    top: 39px;
    margin: 0;
}
.z4{
	margin-left: 21px;
	width: 630px;
    float: right;
    text-align: left;
    padding: 0 0 0 73px;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
    padding-left: 0;
    color: #552c09;
    display: block;
    font-size: 12px;
}
.z4 ul{
	    margin: 0 0 0 -10px;
    padding: 0 0 5px;
    overflow: hidden;
    list-style: none;
    /*display: inline-block;*/
}
.z4 ul li{
	float: left;
	color: white;
	margin-right: 10px;
	font-size: 16px;
	padding-bottom: 10px;
	
}
 .z3 .z4 ul li:after{
	margin-left: 10px;
	/*display:inline-block ;*/
    content: "|";
    color: #552c09;
}
.z4 ul li:last-of-type:after{
	content: '';
}
.z4 a:hover{
	color: white;
	cursor: pointer;
}
.z4 p{
	font-size: 13px;
}
